*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
}

main{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}

main > .out{
    width: 100%;
}
.color{
    width: 100%;
    height: 300px;
    margin-top: 10px;
}

main > div > p{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

@media screen and (min-width: 772px){
    main{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: space-around;
    }

    main > .out{
        width: 45%;
    }

}

@media screen and (min-width: 998px){
    main > .out{
        width: 31%;
    }
}