*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    margin: auto;
}

.infHead{
    background-color: #D79C2C;
    padding: 10px 40px;

}

.infHead ul {
    list-style-type: none;
    color: white;
}

header > .infHead > .out{
    display: flex;
    justify-content: space-between;
}

.infHead > .out > ul{
    display: flex;
}

.infHead > .out > ul > li{
    margin-right: 20px;
}

/*================================*/

header > .inf2{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    height: 90px;
    background: #fff;
    align-items: center;
    /* border-bottom: 1px solid black; */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.inf2 > .menu  ul {
    list-style-type: none;
    display: flex;
}

.inf2 > .menu  ul li{
    margin-right: 20px;
    font-size: 20px;
}

.inf2 > .logo{
    width: 200px;
    height: 90%;
    border: 1px solid rgb(157, 255, 0);
}

.inf2 > .logo > img{
    height: 100%;
    width: 100%;
}

.menu li a{
    padding: 5px;
    text-decoration: none;
    color: black;
}

.menu li:first-child a{
    border: 1px solid #D79C2C;
    color: #D79C2C;
    border-radius: 20px;
    padding: 10px;
}

/*===================================*/

main{
    width: 100%;
    margin: auto;
}

main > .one h2{
    text-align: center;
    color: #D79C2C;
    padding-top: 40px;
}

.choose{
    padding: 0 40px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

}

.items{
    width: 18%;
    text-align: center;
    /* border: 1px solid red; */
}

.items .avt{
    width: 80%;
    height: 180px;
    border: 1px solid #E2A740;
    border-radius: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.items .avt > img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.items a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/*==========================*/
 main > .two{
    width: 100%;
    background-color: #4A4A45;

 }

 .two > h2{
    text-align: center;
    color: white;
    padding: 30px 0;
 }

 .two > .two-choose{
    padding: 0 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
 }


 .two-choose > .two-items{
    width: 20%;
    border-radius: 8px;
    background-color: white;
    
 }

 .two-items > .price{
    text-align: center;
    font-size: 20px;
    color: red;
    padding: 10px 0;
 }

 .price > .through-price{
    color: #dedede;
    text-decoration: line-through;
 }

 .two-items > .avatar{
    width: 100%;
    height: 150px;
    border: 1px solid;
    margin-bottom: 10px;
 }

 .avatar > img{
    width: 100%;
    height: 100%;
 }

 .two-items > .name {
    text-align: center;
    font-size: 18px;
    color: #D79C22;
    padding-bottom: 10px;
 }

 .two-items > .btn{
    display: block;
    margin: auto;  
    margin-bottom: 15px; 
    border: none;
    color: white;
    background-color: #FFB600;
    padding: 8px 15px;
    border-radius: 5px;
 }

 .two-items > .btn:hover{
    cursor: pointer;
 }

 /*=========================*/

 main > .three{
    width: 100%;
    /* background-color: #E2A740; */
 }

 .three > h2{
    color: #D79C22;
    text-align: center;
    padding: 25px 0  15px 0;
 }

 .three > .line{
    text-align: center;
    font-size: 25px;
    font-family:'Great Vibes', cursive;;
    padding-bottom: 30px;
 }

 .three > .three-choose{
    padding: 0 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
 }

 .three-choose > .three-items{
    width: 20%;
    border: 1px solid #dedede;
    box-shadow: 1px 1px 2px #dedede;
 }

  .three-choose > .three-items:hover{
     border: 1px solid #D79C22;
  }

 .three-items > .price {
    background-color: #D79C22;
    width: 100%;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
 }

 .three-items > .avatar{
    width: 100%;
    height: 120px;
    border: 1px solid;
    margin-top: 5px;
 }

 .three-items > .name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 0;
 }

 .three-items > .inf{
    list-style-type: none;
    text-align: center;
 }

  .three-items > .inf > li{
    padding-bottom: 15px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid #dedede;
  }

  .three-items > .btn{
    display: block;
    margin: auto;  
    margin-bottom: 15px; 
    margin-top: 15px; 
    border: none;
    color: white;
    background-color: #D79C2C;
    padding: 8px 15px;
    border-radius: 5px;
  }

/*==============================*/

footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

footer > .more-inf{
    width: 100%;
    padding: 50px 40px;
    display: flex;
    justify-content: space-around;
}

.more-inf > .one1{
    width: 30%;
    height: 300px;
    border: none;
}

.more-inf > .one1 > .logo{
    width: 40%;
    height: 33%;
    border: 1px solid goldenrod;
}

.more-inf > .one1  p{
    color: white;
    margin-top: 15px;
}

.more-inf > .one1 > .name{
    font-size: 22px;
    padding-bottom: 5px;
}

.more-inf > .one1  > ul {
    color: white;
    list-style-position: inside;
}

.more-inf > .one1{
    width: 30%;
    /* height: 300px; */
    border: 1px solid white;
}

.more-inf > .one1 > .logo{
    width: 40%;
    height: 33%;
    border: 1px solid goldenrod;
}

.more-inf > .one1  p{
    color: white;
    margin-top: 15px;
}

.more-inf > .one1 > .name{
    font-size: 22px;
    padding-bottom: 5px;
}

.more-inf > .one1  > ul {
    color: white;
    list-style-position: inside;
    padding-left: 10px;
}

.more-inf > .one1  > ul  li {
    padding-top: 15px;
}

.more-inf > .one1 > .btn{ 
    margin: 30px 0 0 15px; 
    border: none;
    color: white;
    background-color: #D79C2C;
    padding: 8px 15px;
    border-radius: 5px;
}

.more-inf > .one1 > .btn:hover{
    cursor: pointer;
}

.icon{
    margin-top: 10px;
    display: flex;
    padding-left: 15px;
}

.icon > div{
    width: 50px;
    height: 50px;
    border: 1px solid #dedede;
    margin-right: 10px;
}

.icon > div > img {
    width: 100%;
    height: 100%;
}


.end{
    background-color: #D79C2C;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.end > p{
    color: white;
}